<!-- MAIN WRAPPER -->
<!-- MAIN WRAPPER -->
<div class="body-wrap">
  <div id="st-container" class="st-container">


    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">
          <!-- Header -->
          <div class="header">
            <!-- Top Bar -->

            <!-- Global Search -->
            <section id="sctGlobalSearch" class="global-search global-search-overlay">
              <div class="container">
                <div class="global-search-backdrop mask-dark--style-2"></div>

                <!-- Search form -->
                <form class="form-horizontal form-global-search z-depth-2-top" role="form">
                  <div class="px-4">
                    <div class="row">
                      <div class="col-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                      </div>
                    </div>
                  </div>
                  <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
                </form>
              </div>
            </section>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
              <div class="container navbar-container">
                <!-- Brand/Logo -->
                {{!-- <a class="navbar-brand" href="/index.html">
                  <img src="../../assets/images/logo/logo-1-a.png" class="d-none d-lg-inline-block" alt="Boomerang">
                  <img src="../../assets/images/logo/logo-1-a.png" class="dde3-lg-none" alt="Boomerang"> </a> --}}

                <div class="d-inline-block">
                  <!-- Navbar toggler  -->
                  <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button"
                    data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>
                </div>

                <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
                  <!-- Navbar search - For small resolutions -->
                  <div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
                    <form class="" role="form">
                      <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-base-3" type="button">Go!</button>
                        </span>
                      </div>
                    </form>
                  </div>

                  <!-- Navbar links -->
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown megamenu">
                      <a class="nav-link" href="/index.html">
                        Home
                      </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Pages
                      </a>

                    </li>
                  
                  </ul>

                  <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                      <a href="https://nodejs.org/en/" class="nav-link">
                        Team B
                      </a>
                    </li>
                  </ul>
                </div>


                <div class="pl-4 d-none d-lg-inline-block">
                  <a href="#"
                    class="btn btn-styled btn-sm btn-white btn-outline text-uppercase btn-circle" target="_blank">
                    Give Perfect Grade
                  </a>
                </div>
              </div>
            </nav>
          </div>

          <!-- Slider -->
          <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen"
            data-holder-offset="">
            <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1"
              data-swiper-space-between="0">
              <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide" data-swiper-autoplay="8000">
                  <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover"
                    style="background-image: url(/assets/images/hero.jpg); background-position: bottom bottom;">
                    <span class="mask bg-base-2 alpha-6"></span>
                    <div class="container d-flex align-items-center no-padding">
                      <div class="col">
                        <div class="row justify-content-center row-cols-xs-spaced align-items-center text-center">
                          <div class="col-md-9 col-lg-8">
                            <h1 class="heading heading-lg strong-600 mb-2">
                              TEAM B's Team Members
                            </h1>
                            <h2 class="heading heading-inverse display-4 strong-600 text-normal line-height-1_4">
                              Strafferson Parker
                            </h2>

                            {{!-- <a href="#" class="btn btn-styled btn-base-1 mt-5" data-scroll-to="#scrollToSection">Our
                              See Members</a> --}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="sct-color-2">
            <div class="container-fluid no-padding">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                    <h3 class="heading heading-xl strong-600 text-capitalize">
                      Responsible for implementing:
                    </h3>
                    <h3 class="heading heading-2 strong-300 ">
                      Telnet
                    </h3>
                    <h3 class="heading heading-2 strong-300 ">
                      SSH
                    </h3>
                    <h3 class="heading heading-2 strong-300 ">
                      FTP
                    </h3>
                    <h3 class="heading heading-2 strong-300 ">
                      DNS
                    </h3>
                    <a href="#" class="btn btn-base-4 mt-4">Read case study</a>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="animate-on-scroll fadeInUp">
                    <img src="/assets/images/member-1.jpg" class="img-fluid">
                  </div>
                </div>
              </div>
              <span class="clearfix"></span>
            </div>
          </section>


          <section class="slice-lg has-bg-cover bg-size-cover"
            style="background-image: url(../../assets/images/prv/architecture/img-slider-1.jpg);">
            <div class="mask mask-dark--style-1"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-6 text-center">
                  <h2 class="heading heading-1 strong-600 c-white text-uppercase">
                    Give us an A+
                  </h2>
                  <p class="lead c-gray-light trong-300 mt-4">
                    Please? Or what's the minimum bribe?
                  </p>

                  <div class="btn-container mt-5">
                    <a href="#" class="btn btn-styled btn-base-1">Contact us</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- FOOTER -->
          <footer id="footer" class="footer">
            <div class="footer-bottom py-3">
              <div class="container">
                <div class="row cols-xs-space col-sm-space align-items-center">
                  <div class="col-md-7 col-12">
                    <div class="text-xs-center text-sm-left">
                      <ul class="footer-menu">
                        <li>
                          <a href="#" style="padding-left: 0;">Home</a>
                        </li>
                        <li>
                          <a href="#">About us</a>
                        </li>
                        <li>
                          <a href="#">Services</a>
                        </li>
                      </ul>

                      <div class="copyright mt-1">
                        <ul class="copy-links">
                          <li>
                            &copy; 2018 Webpixels
                          </li>
                          <li>
                            <a href="#">Terms</a>
                          </li>
                          <li>
                            <a href="#">Privacy policy</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="text-xs-center text-sm-right">
                      <ul class="social-media social-media--style-1-v4">
                        <li>
                          <a href="#" class="facebook" target="_blank" data-toggle="tooltip"
                            data-original-title="Facebook">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="instagram" target="_blank" data-toggle="tooltip"
                            data-original-title="Instagram">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="dribbble" target="_blank" data-toggle="tooltip"
                            data-original-title="Dribbble">
                            <i class="fa fa-dribbble"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="dribbble" target="_blank" data-toggle="tooltip"
                            data-original-title="Github">
                            <i class="fa fa-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div><!-- END: st-pusher -->
  </div><!-- END: st-container -->
</div><!-- END: body-wrap -->